body{
    background-image: linear-gradient(to right, #86E7B8 , #B2FFA8);
}

#title {
    font-size: 60px;
    text-align: center;
    margin-top:250px;
    font-family: 'Lobster', cursive;
    color:#ffffff;
    letter-spacing: 2px;
}

.ice-cream-list{
    position: absolute;
    top: 43%;
    left: 43%;
    margin: -25px 0 0 -25px;
}

.ice-cream-flavor{
    color:#343a40;
    font-size:30px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 250ms, opacity 400ms;
}

.ice-cream-flavor:hover {
    transform: scale(1.2);
    color:#ecf8f8;
    font-size: 35px;
    letter-spacing: 2px;
}

